<a href="https://colab.research.google.com/github/hydermbs/pwskills/blob/main/17_feb_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q1**:
What is a database? Differentiate between SQL and NoSQL databases.

#**Ans**
A database is a software system designed to store, manage, and retrieve large amounts of data. It serves as a central repository for organizing and managing data that can be accessed by multiple users or applications. Databases are used in many fields, including business, science, government, and education.

There are two main types of databases: SQL and NoSQL. SQL (Structured Query Language) databases are relational databases, which store data in tables and use SQL as the language for managing the data. SQL databases have a predefined schema that defines the structure of the data, and data is stored in rows and columns. SQL databases are typically used for applications that require complex queries, transactions, and data consistency.

On the other hand, NoSQL (Not Only SQL) databases are non-relational databases that store data in a flexible and unstructured format, such as key-value, document-oriented, or graph databases. NoSQL databases do not have a predefined schema, which allows for greater flexibility and scalability. They are typically used for applications that require high performance, scalability, and flexibility, such as web applications and big data analytics.

#**Q2**
What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#**Ans**:
DDL stands for Data Definition Language, which is a subset of SQL that is used to define and manipulate the structure of a database. DDL commands are used to create, modify, and delete database objects, such as tables, indexes, and views.

Here are some commonly used DDL commands and their functions:

**CREATE:** This command is used to create a new database object, such as a table, index, or view. For example, the following SQL statement creates a new table called "Customers":

CREATE TABLE Customers (
   CustomerID INT PRIMARY KEY,
   FirstName VARCHAR(50),
   LastName VARCHAR(50),
   Email VARCHAR(100)
);


**DROP:** This command is used to delete an existing database object, such as a table, index, or view. For example, the following SQL statement drops the "Customers" table:

DROP TABLE Cusotmers;

**ALTER:** This command is used to modify the structure of an existing database object, such as a table, index, or view. For example, the following SQL statement adds a new column called "Address" to the "Customers" table:

ALTER TABLE Customers ADD Address VARCHAR(200);

**TRUNCATE:** This command is used to delete all the data from an existing table, while keeping the structure of the table intact. For example, the following SQL statement deletes all the data from the "Customers" table:

TRUNCATE TABLE Customers;

#**Q3**:
What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#**Ans:**
DML stands for Data Manipulation Language, which is a subset of SQL that is used to manipulate the data within a database. DML commands are used to insert, update, and delete data in database tables.

Here are some commonly used DML commands and their functions:

**INSERT:** This command is used to insert new data into a table. For example, the following SQL statement inserts a new record into the "Customers" table:

INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
VALUES (1, 'John', 'Doe', 'johndoe@email.com');

**UPDATE:** This command is used to modify existing data in a table. For example, the following SQL statement updates the email address for the customer with ID 1:

UPDATE Customers SET Email = 'johndoe123@email.com'
WHERE CustomerID = 1;

**DELETE:** This command is used to delete existing data from a table. For example, the following SQL statement deletes the record for the customer with ID 1:

DELETE FROM Customers
WHERE CustomerID = 1;

#**Q4:**
What is DQL? Explain SELECT with an example.

#**Ans:**
DQL stands for Data Query Language, which is a subset of SQL that is used to retrieve data from a database. DQL commands are used to query and retrieve data from one or more database tables.

Here is an example of a commonly used DQL command:

SELECT: This command is used to retrieve data from one or more tables. For example, the following SQL statement retrieves all the data from the "Customers" table:

SELECT * FROM Customers;

We can also retrieve specific columns from the table by specifying the column names in the SELECT statement. For example, the following SQL statement retrieves only the customer ID and email address columns from the "Customers" table:
SELECT CustomerID, Email FROM Customers;

#**Q5**
Explain Primary Key and Foreign Key.

#**Ans**
**Primary Key:** A primary key is a column or a combination of columns in a table that uniquely identifies each row in that table. A primary key must be unique and not null, which means that it cannot contain duplicate values or null values. In addition, a table can have only one primary key.

**Foreign Key:** A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It establishes a relationship between the two tables and is used to enforce referential integrity, which means that the data in the tables remains consistent and accurate.

#**Q6:**
Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish connection to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object to interact with the database
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM customers")

# Fetch the result
result = mycursor.fetchall()

# Print the result
for row in result:
  print(row)

The cursor() and execute() methods are important in working with MySQL databases. The cursor() method creates a cursor object that we can use to execute queries and fetch results. The execute() method is used to execute SQL queries. You can pass an SQL statement as an argument to this method to execute the query. The method returns a result object, which you can use to fetch the results of the query.

#**Q7**
Give the order of execution of SQL clauses in an SQL query.

#**Ans**:

**FROM clause:** The FROM clause is the first clause that is executed in an SQL query. It specifies the table or tables from which to retrieve the data.

**WHERE clause:** The WHERE clause is executed after the FROM clause. It is used to filter the data based on a specified condition.

**GROUP BY clause:** The GROUP BY clause is executed after the WHERE clause. It is used to group the data based on one or more columns.

**HAVING clause:** The HAVING clause is executed after the GROUP BY clause. It is used to filter the groups based on a specified condition.

**SELECT clause:** The SELECT clause is executed after the HAVING clause. It is used to select the columns to be displayed in the query results.

**DISTINCT clause:** The DISTINCT clause is executed after the SELECT clause. It removes duplicate rows from the query results.

**ORDER BY clause:** The ORDER BY clause is executed after the DISTINCT clause. It is used to sort the query results based on one or more columns.

**LIMIT clause:** The LIMIT clause is executed last. It is used to limit the number of rows returned by the query.